#logo {
    margin-top: 1.5em;
}

body {
    background: #E5E5E5;
}

#campoTexto {
    height: 50vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

textarea {
    border: none;
    width: 90%;
    margin: 30px 20px;
    background-color: transparent;
    outline: none;
    resize: none;
    font-family: sans-serif;
    font-style: normal;

}

.container-2 {
    display: flex;
    align-items: center;
}


.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: #495057;
    color: #fff;
}


#alerta {
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #495057;

}

button {

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    text-align: center;
    padding: 24px;
    width: 100%;
    border-radius: 24px;
    margin: 20px 10px;

}

#botonEncriptar {
    color: #FFFFFF;
    background: #0A3871;
    border: 1px solid #fdfdfd;

}

#botonDesencriptar {
    color: #0A3871;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    /*margin: 0 0 0 30px;*/

}

.col-texto-encriptado {
    background-color: white;
    text-align: center;
    border-radius: 32px;
}

#campoTextoEncriptado {
    width: 90%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;

}

img+p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;

}

p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    text-align: center;
}

#botonCopiar {
    display: none;
    color: #0A3871;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    width: 90%;
}

footer {
    margin-top: 1.5em;
}


@media (max-width: 767.98px) {
    #campoTexto {
        height: 30vh;
    }

    #imagenMuñeco {
        display: none;
    }
}